/**
 * Global styles.
 */

.gadgetry-settings-wrapper {

    background-color: var(--GADGETRY-COLOR-GRAY-0);
    font-size: var(--GADGETRY-FONT-SIZE-X-SM);
    color: var(--GADGETRY-COLOR-GRAY-700);
    line-height: 1.6;
}
