:root {

    --GADGETRY-COLOR-GRAY-0: #FFF;
    --GADGETRY-COLOR-GRAY-200: #E0E0E0;
    --GADGETRY-COLOR-GRAY-300: #DDD;
    --GADGETRY-COLOR-GRAY-400: #CCC;
    --GADGETRY-COLOR-GRAY-700: #757575;
    --GADGETRY-COLOR-GRAY-800: #4D4D4D;
    --GADGETRY-COLOR-GRAY-900: #1E1E1E;
    --GADGETRY-COLOR-GRAY-1000: #080808;

    --GADGETRY-COLOR-PRIMARY-500: #3858E9;

    --GADGETRY-COLOR-ALERT-WARNING-100: #FFFDD6;
    --GADGETRY-COLOR-ALERT-DANGER-500: #E26F56;

    --GADGETRY-FONT-SIZE-X-SM: 14px;
    --GADGETRY-FONT-SIZE-SM: 16px;
    --GADGETRY-FONT-SIZE-MD: 20px;
    --GADGETRY-FONT-SIZE-LG: 24px;
    --GADGETRY-FONT-SIZE-X-LG: 30px;

    --GADGETRY-WIDTH-CONTAINER: 1032px;
    --GADGETRY-WIDTH-CONTAINED: 650px;
    --GADGETRY-WIDTH-CONTENT: 768px;

    --GADGETRY-SPACE-10: 4PX;
    --GADGETRY-SPACE-20: 8PX;
    --GADGETRY-SPACE-30: 12PX;
    --GADGETRY-SPACE-40: 16PX;
    --GADGETRY-SPACE-50: 24PX;
    --GADGETRY-SPACE-60: 32PX;
    --GADGETRY-SPACE-70: 48PX;
}
