<!-- wp:template-part {"slug":"header","tagName":"Header","area":"header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|16","padding":{"top":"var:preset|spacing|16","bottom":"var:preset|spacing|16"},"margin":{"top":"0"}}},"backgroundColor":"gray-200","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-gray-200-background-color has-background" style="margin-top:0;padding-top:var(--wp--preset--spacing--16);padding-bottom:var(--wp--preset--spacing--16)">
    <!-- wp:post-title {"textAlign":"left","level":1,"align":"wide"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Content Area"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;">   
    <!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0","padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
        <!-- wp:post-featured-image {"aspectRatio":"16/9","className":"is-style-gadgetry-featured-image-style-1","style":{"layout":{"selfStretch":"fit","flexSize":null},"border":{"radius":"12px","width":"1px"},"spacing":{"margin":{"bottom":"var:preset|spacing|32"}}},"borderColor":"gray-500"} /-->
        
        <!-- wp:post-content {"lock":{"move":true,"remove":true},"align":"full","layout":{"type":"constrained"}} /-->
    </div>
    <!-- /wp:group -->
    </main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"Footer","area":"footer"} /-->